{% extends 'blades/html.njk' %}

{% set content_for_header %}
  {{ content_for_header | safe }}
  <meta name="generator" content="{{ site.generator }}" />
  <style>{% getBundle 'css' %}</style>
{% endset %}

{% block body %}
  <main><div class="container breakout-all prose lg:prose-xl xl:prose-2xl">{{ content | safe }}</div></main>
  <footer class="container prose">
    <hr />
    {{ site.footer | safe }} © {{ site.year }}
  </footer>
{% endblock %}
